@import 'variables';

@import 'animations';
@import 'functions';
@import 'mixins';
@import 'util';

@import 'elements';

@import 'components';
@import 'pages';

.icon {
  display: inline-block;
  stroke: $font-color;
  stroke-width: 1;
  stroke-linecap: square;
  stroke-linejoin: miter;
  fill: none;
  vertical-align: middle;

  &.thick {
    stroke-width: 2;
  }
}

.dark .icon {
  stroke: $dark-font-color;
}
