main {
  .actions {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(10rem, 100%));
    grid-auto-rows: 10rem;
    grid-gap: 1rem;

    &.small {
      grid-auto-rows: 4rem;
    }

    @include medium-screen {
      grid-auto-rows: 10rem !important;
      grid-template-columns: repeat(auto-fill, 10rem);
    }

    > a {
      cursor: pointer;
      border: 1px solid $border-color;
      color: $font-color;
      position: relative;

      svg {
        max-width: 50%;
        max-height: calc(100% - 2rem);
        display: block;
        margin: auto;
      }

      .top-left {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 4px;
      }

      .top-right {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 4px;
      }

      h3 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2rem;
        padding-left: 4px;
        background-image: $fade-bg;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    button {
      white-space: normal;
    }
  }
}

.dark main .actions > a {
  color: $dark-font-color;
  border-color: $dark-border-color;

  h3 {
    background-image: $dark-fade-bg;
  }
}
