<div class="fight">
  <div class="image"></div>
  <div class="message">Your Rusty Sword does limited damage</div>
  <button>Spear attack</button>
  <button>Dagget attack</button>
  <button>Explosive</button>
  <button>Run</button>
</div>

<div class="reward">

</div>