<form onsubmit={{action this.submit}}>
  <h3>New Game</h3>
  <label>
    Name
    <input type="text" name="name" placeholder="Frank Lin">
  </label>
  <label>
    Talent
    <select name="talent">
      <option value="engineer">Engineer</option>
      <option value="pilot">Pilot</option>
      <option value="solider">Soldier</option>
    </select>
  </label>
  <input type="submit" value="Start">
</form>