<Header @currentPage="Stats" />

<table>
  <tbody>
    <tr>
      <td>Expeditions</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Days Survived</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Max Station Population</td>
      <td>100</td>
    </tr>
    <tr>
      <td>Equipement bought</td>
      <td>9/100</td>
    </tr>
  </tbody>
</table>