{{#if this.showIntroStory}}
  <Encounter
    @encounter={{this.introStory}}
    @done={{action this.transitionToNew}}
  />
{{else}}
  <div
    class="flex-center"
    role="button"
    {{action this.startGame}}
  >
    <div>
      <h1>Earth External Station 4</h1>
      {{#if this.data.player.name}}
        <h3>Resume</h3>
      {{/if}}
    </div>
  </div>
{{/if}}