<div
  class="flex-center"
  role="button"
  {{action this.startGame}}
>
  <div>
    <h1>Ludum Dare 44</h1>
    <h2>An Adventure</h2>
    {{#if this.data.player.name}}
      <h3>Resume Game</h3>
    {{/if}}
  </div>
</div>